<!-- <p>
  login works!
</p> -->

<!-- code below will style a form for user to login / register -->

<!-- http://warpdoor.com/content/images/2014/May/25931-shot2.jpg -->

<body>
  <div class="login-page">
      <div class="form">
          <form action="Home.html" method="post" class="register-form">
              <input type="text" placeholder="username" required/>
              <input type="email" placeholder="email" required />
              <input type="password" placeholder="newpassword"  required/>
              <input type="password" placeholder="confirmpassword"  required />
              <br />
              <button>Get Started</button>
              <p class="message">Already Registered<a href="#">Login</a></p>
          </form>
          <form action="Home.html" method="post" class="login-form">
              <input type="text" placeholder="username" required/>
              <input type="password" placeholder="password" required/>
              <br />
              <button>Login</button>
              <p class="message">Need a new account<a href="#">Register</a></p>
          </form>
      </div>
  </div>
  <!-- <script src="../js/Login.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      $('.message a').click(function () {
          $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
      });
  </script> -->
</body>