<!--@author Jake Mulrenin, Max Couch-->
<!--This html outlines the general structure for the entire SPA
The title will be found on every page as defined by the div class="center"
The components contain ngIf statements to change the views shown 
to the user based on what is clicked.-->
<div class="center">
  <img src="/assets/Caduceus.jpg" style="width:100px; height:100px">
  <h1 style="font-size:80px; color:red">DIAGNOSIS</h1>
  <img src="/assets/Caduceus.jpg" style="width:100px; height:100px">
</div>
<div> <!--*ngIf="this.globals.isOn"-->
  <router-outlet></router-outlet>
</div>