<div class="text" readonly>
  <p  id="dialoguetext"></p>
  <p *ngIf="this.beginGame"><app-thankyoubutton></app-thankyoubutton> OR <app-wrong-hospital-button></app-wrong-hospital-button></p>
  <p id="introPatient"></p>
  <p class="patientDialogue" id="patientGreeting"></p>
  <p class="userDialogue" id="userGreeting"></p>
  <p *ngIf="this.globals.whichTestButton"><app-observebutton></app-observebutton> OR <app-question-button></app-question-button> OR <app-testbutton></app-testbutton></p>
  <p class="userDialogue" id="observation"></p>
  <p class="userThoughts" id="observationConclusion"></p>
</div>
