body { 
    background: black;
}
.fullpage{
    display:flex;
    flex-direction:row;
    float:center;
    margin:auto;
    border:3px solid white;
    height:100vh;
    width:75vw;
}
.vitals{
    height:50vh;
}
.dialogue{
    width:50%;
}
.vitalsclipboard{
    width:50%;
    float:right;
    border-left:3px solid white;
}
.clipboardsection{
    border-top:3px solid white;
}






