body { 
    background: black;
}
.fullpage{
    display:flex;
    flex-direction:row;
    float:center;
    margin:auto;
    border:3px solid white;
    height:100vh;
    width:75vw;
}
.vitals{
    background-color:black;
    height:30vh;
}
.dialogue{
    background-color:black;
    width:50%;
}
.vitalsclipboard{
    width:50%;
    float:right;
    border-left:3px solid white;
}
.clipboardsection{
    background-image: url("/assets/Clipboard.jpg");
    height:70vh;
    background-size:cover;
    border-top:3px solid white;
}






