/**@author Jake Mulrnein*/
.hearts{
    display:flex;
    flex-direction:row;
    margin-left:15%;
    float:center;
}

#health{
    
    width:300px;
    height:25px;
    border-radius:50%;
}
.heartRate{
    margin-left:5%;
}

.bp{
    margin-left:10%;
    float:right;
}

.rateandbp{
    display:flex;
    flex-direction:row;
}