<!--@author Jake Mulrenin-->
<!--The vitals section of the game page is outlined here
There are 5 pictures of hearts that will change as the patients 
health goes down. Also contains dynamic sections for changing the 
heart rate and blood pressure-->
<div class="hearts">
  <span>
    <img src="assets/FullHeart.jpg"style="width:75px; height:75px">
    <progress id="health" value="50" max="100"></progress>
  </span>
</div>
<div class="rateandbp">
  <div class="heartRate">
    <h6 style="font-size:32px">Heart Rate</h6>
    <p style="font-size:32px; margin-left:20%">80bpm</p>
  </div>
  <div class="bp">
    <h6 style="font-size:32px">Blood Pressure</h6>
    <p style="font-size:32px; margin-left:30%">80/120</p>
  </div>
</div>