<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean name="disease" class="com.rev.beans.Disease">
		<!-- inject values into bean -->

	</bean>
		<bean name="leaderboard" class="com.rev.beans.LeaderBoard">


	</bean>
		<bean name="patients" class="com.rev.beans.Patients">


	</bean>
	<bean name="author" class="com.rev.beans.Player">

	</bean>
		<bean name="symptom" class="com.rev.beans.Symptom">

	</bean>
</beans>
